.clients {
}

.clients__title {
  margin: 87px 0 16px 0;
  text-align: center;
  color: #181818;
  font-family: "Yeseva One";
  font-size: 20px;
  font-weight: 400;
  line-height: 28.13px;
  text-transform: uppercase;
}

.clients__icon {
  margin: 0 auto;
  background: url("../assets/image/icon/handshake.svg");
  width: 114px;
  height: 32px;
}

.clients__text-title {
  margin: 26px 0 38px 0 ;
  text-align: center;
  color: #363636;
  font-family: "FuturaBookC";
  font-size: 20px;
  font-weight: 400;
  line-height: 28.13px;
}

.clients__container {
  display: flex;
  flex-flow: wrap row;
  justify-content: space-evenly;
}

.clients__background {
  margin-bottom: 150px;
  position: relative;
  width: 376px;
  height: 429px;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.04);
  background-color: #ffffff;
}

.clients__info {
  padding: 0 20px 0 31px;
  color: #959595;
  font-family: "FuturaBookC";
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
  text-transform: lowercase;
}

.clients__text {
  position: absolute;
  padding-left: 23px;
  padding-top: 40px;
  color: #181818;
  font-family: 'Yeseva One';
  font-size: 18px;
  font-weight: 400;
  line-height: 23.2px;
}

.clients__button {
  position: relative;
  top: 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 0;
  @include button(135px, 55px) {
    display: flex;
    border-radius: 0;
    color: #ffffff;
    font-family: "Yeseva One", serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 23.91px;
    text-transform: uppercase;

  }
   span{
     display: block;
   }
  .clients__button_img{
    display: block;
    background: url("../assets/image/icon/area.svg") no-repeat;
    width: 33px;
    height: 32px;
  }
  .clients__button_img2{
    display: block;
    background: url("../assets/image/icon/calendar.svg") no-repeat;
    width: 33px;
    height: 32px;
  }

}

.clients__button2{
  left: 138px;
  top: -12px;
}

.clients__background {
  .clients__photo {
    width: 76px;
    height: 77px;
    display: inline-block;
    margin-top: 24px;
    margin-left: 20px;

    }
}

.clients__background--one{
  .clients__photo{
    background: url("../assets/image/desktop/avatar4.png") no-repeat;
  }
}

.clients__background--two{
  .clients__photo{
    background: url("../assets/image/desktop/avatar5.png") no-repeat;
  }
}
.clients__background--three{
  .clients__photo{
    background: url("../assets/image/desktop/avatar6.png") no-repeat;
  }
}



@media (max-width: 425px) {
  .clients {
    display: none;
  }
}
