.footer {
  background-color: #181818;
}

.footer__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 37px 100px 35px 82px;
}

.footer__logo {
  display: inline-block;
  list-style: none;
  text-decoration: none;
  color: $second;
  font-family: "FuturaDemiC", serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 0;
}

.header__menu {
  padding: 0;
  margin: 0;
}

.footer__phone{
  color: $second;
  font-family: "FuturaDemiC", serif;
  font-size: 14px;
  font-weight: 400;
  text-decoration: underline;
}

.footer__button{
  @include button(161px,37px){

  }
}


@media (max-width: 1190px) {

  .footer__wrap {
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px 0 25px;
    .footer__phone{
      padding-top: 5px;
    }
    .footer__button{
      margin-top: 10px;
    }

  }

  .footer__logo {
    margin-right: 0;
    margin-bottom: 10px;
  }

}

@media (max-width: 768px) {

  .footer__wrap {
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px 0 25px;
  }

  .footer__logo {
    margin-right: 0;
    margin-bottom: 10px;
  }

}

@media (max-width: 375px) {
  .footer__wrap{
    flex-direction: row;
    justify-content: space-between;
    padding: 23px 18px;
    .header__phone{
      padding-top: 0;
    }
  }
  .footer__logo {
    list-style: none;
    text-decoration: none;
    color: $second;
    font-family: "FuturaDemiC", serif;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
  }

  .footer__phone{
    color: $second;
    font-family: "FuturaDemiC", serif;
    font-size: 13px;
    font-weight: 400;
    text-decoration: underline;
  }

  .footer__button{
    display: none;
  }
}
