.ladder {
  margin-top: 153px;
  background: linear-gradient(
    to bottom,
    #ffffff 0%,
    #ffffff 400px,
    #131313 400px,
    #131313 100%
  );

  .card-wrap {
    .card {
      margin-bottom: 250px;
      &:nth-child(1) {
        background: url("../assets/image/desktop/descriptionPhoto4.png");
      }
      &:nth-child(2) {
        background: url("../assets/image/desktop/descriptionPhoto5.png");
      }
      &:nth-child(3) {
        background: url("../assets/image/desktop/descriptionPhoto6.png");
      }

      .card__text--four {
        /* Style for "Rectangle" */
        width: 330px;
        height: 212px;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
        background-color: #ffffff;
      }
      .card__text--five {
        width: 330px;
        height: 287px;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
        background-color: #ffffff;
      }

      .card__text--six {
        width: 330px;
        height: 385px;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
        background-color: #ffffff;
      }


      .card__list {
      }
    }
  }
}

.ladder__title {
  text-align: center;
  color: #181818;
  font-family: "Yeseva One", serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28.13px;
  text-transform: uppercase;
}

.ladder__icon {
  margin: 0 auto;
  background: url("../assets/image/icon/pencil.svg");
  width: 114px;
  height: 29px;
}

.ladder__text {
  margin: 23px auto 38px auto;
  max-width: 675px;
  text-align: center;
  color: #363636;
  font-family: "FuturaBookC", serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28.13px;
}

@media (max-width: 445px) {
  .ladder {
    margin-top: 0;
    background: #131313;

    .ladder__title{
      padding-top: 40px;
      margin-top: 0;
      color: #ffffff;
      font-size: 22px;
      font-weight: 400;
      line-height: 30.49px;
      text-transform: uppercase;
    }

    .ladder__text{
      padding-left: 18px;
      padding-right: 18px;
      color: #ffffff;
      font-size: 15px;
      font-weight: 400;
      line-height: 20.38px;
    }

    .card-wrap {
      .card {
        width: 340px;
        height: 366px;

        &:nth-child(1) {
          background: url("../assets/image/desktop/descriptionPhoto1.png");
          background-size: cover;
        }

        &:nth-child(2) {
          background: url("../assets/image/desktop/descriptionPhoto2.png");
          background-size: cover;
        }

        &:nth-child(3) {
          background: url("../assets/image/desktop/descriptionPhoto3.png");
          background-size: cover;
        }

        .card__text--four {
          width: 270px;
          height: 177px;
          box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.05);
          background-color: #ffffff;
        }
        .card__text--five {
          width: 270px;
          height: 241px;
          box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.05);
          background-color: #ffffff;
        }

        .card__text--six {
          width: 270px;
          height: 330px;
          box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.05);
          background-color: #ffffff;
        }

        .card__text {
          position: absolute;
          top: 60%;
          left: 0;
          background-color: white;
          box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.05);

          .card__list {
            margin-top: 25px;

            .card__title {
              list-style-type: none;
              margin-bottom: 8px;
              color: #363636;
              font-family: "YesevaOne", serif;
              font-size: 18px;
              font-weight: bold;
              line-height: 25.31px;
            }

            .card__item {
              margin-left: 16px;
            }
          }

          .card__button {
            @include button(191px, 40px) {
              border-radius: 0;
              color: #ffffff;
              font-family: "YesevaOne", serif;
              font-size: 15px;
              font-weight: bold;
              line-height: 20.79px;
              text-transform: uppercase;
            }
          }
        }
      }
    }
  }
}
