.styles {
  margin-top: 300px;
  background: url("../assets/image/desktop/background/styles__background.png")
    no-repeat;
  background-size: cover;
  max-height: 865px;
}

.styles_wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.styles__left-container {
}
.styles__right-container {
  display: flex;
  flex-flow: wrap column;
  max-height: 1000px;
  margin-right: 400px;
}

.styles__img1{
  padding-right: 43px;
  margin-top: -50px;

  width: 354px;
  height: 557px;
}

.styles__img2{
  /* Style for "image 5" */
  margin-top: 37px;
  width: 354px;
  height: 350px;

}

.styles__img3{
  margin-top: -125px;
  /* Style for "image 5" */
  width: 354px;
  height: 275px;

}

.styles__img4{
  padding-top: 37px;
  /* Style for "image 5" */
  margin-right: 102px;
  width: 354px;
  height: 625px;

}
.styles__title {
  padding-top: 138px;
  padding-left: 99px;
  max-width: 300px;
  color: #e3b873;
  font-family: "Yeseva One", serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 37.97px;
  text-transform: uppercase;
}

.styles__list {
  padding-left: 99px;
  list-style-type: none;
  .styles__item {
    cursor: pointer;
    padding-top: 24px;
    color: #ffffff;
    font-family: "Proxima Nova", serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32.81px;
    &:hover {
      color: $second;
      text-decoration: underline;
    }
  }
}
